* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-XLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* Header */
body {
  font-family: 'Gotham', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  border-bottom: 1px solid #eee;
  padding: 1rem 2rem;
}

.brand {
  font-family: 'Gotham', sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  letter-spacing: 5px; /* espacio entre letras */
  word-spacing:2px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a,
.contact {
  text-decoration: none;
  color:black;
  font-size: 0.95rem;
}

.contact {
  margin-left: 2rem;
}
.nav-links a:hover,
.contact:hover {
  font-weight: 400; /* se vuelve más grueso */
}

/* Gallery */
.showreel {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.gallery-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.gallery {
  display: flex;
  flex-shrink: 0;
  margin: 2rem 0;
  position: relative;
  will-change: transform;
}

.gallery.first-row {
  animation: scrollLeft 45s linear infinite;
}

.gallery.second-row {
  animation: scrollRight 35s linear infinite;
}

/* .thumb {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  margin-right: 3rem;
  width: 25vw;  
}*/

/* .thumb img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: block;
} */
.splide__slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: block;
}

.thumb::after {
  content: attr(data-title) "\A " attr(data-year);
  white-space: pre; /* interpreta \A como salto de línea */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 6, 0.7);/* fondo negro */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.splide__slide .thumb:hover::after {
  opacity: 1;
}

.thumb.hovered::after {
  opacity: 1;
} */

/* Cursor */
.cursor {
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  transition: transform 0.15s ease;
  will-change: transform;
}

/* Animaciones */
@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes scrollRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/*nuevo*/
.portfolio-gallery {
  width: 100%;
  padding: 3rem 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
  background-color: rgb(237, 236, 236);
  animation-play-state: running;
  will-change: transform;
}

/* Cada proyecto */
.project-item {
  position: relative;
  cursor: pointer;
  border-radius: 4px; /* opcional: bordes suaves */
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.project-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.4s ease;
  will-change: transform;
}

.project-item:hover img {
  transform: scale(1.05); 
}

/* Texto debajo */
.project-caption {
  margin-top: 0.8rem;
  font-size: clamp(0.85rem, 1.5vw, 1rem);
  font-weight:400;
  color: #000;
  line-height: 1.4;
}

/* Responsivo */
@media (max-width: 1024px) {
  .portfolio-gallery {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .portfolio-gallery {
    grid-template-columns: 1fr;
  }
}

