/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Gotham Medium */
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-XLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


body {
  font-family: 'Gotham', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  border-bottom: 1px solid #eee;
  padding: 1rem 2rem;
}

.brand {
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c8102e; /* rojo Ogilvy */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a,
.contact {
  text-decoration: none;
  color: #111;
  font-size: 0.95rem;
}

.contact {
  margin-left: 2rem;
}


.brand {
  font-family: 'Gotham', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
}

.breadcrumb a {
  text-decoration: none;
  color: #111;
}

.info {
  font-weight: bold;
}
/*Info*/
.info-panel {
  position: fixed;
  top: 0;
  right: -100%; /* fuera de pantalla por defecto */
  width: 400px;
  height: 100%;
  background: white;
  box-shadow: -4px 0 12px rgba(0,0,0,0.2);
  transition: right 0.4s ease;
  z-index: 9999;
  padding: 2rem;
}

.info-panel:target {
  right: 0; /* se despliega */
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-panel h2 {
  margin: 0;
  font-size: 1.5rem;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}


/* Hero */
.hero img {
  width: 100%;
  display: block;
}

/* Related */
.related {
  padding: 2rem;
}

.related h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.related-grid img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-top: 1px solid #eee;
  font-size: 0.85rem;
  color: #555;
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: #555;
}

.footer-links a:hover {
  color: #000;
}

.video-container {
  width: 100%;   /* ocupa todo el ancho */
  text-align: center;
}

.video {
  width: 100%;   /* el video ocupa el 100% del contenedor */
  height: auto;  /* mantiene la proporción */
  display: block; /* evita pequeños espacios fantasmas */
  margin: 0 auto;
}